<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>COVID-19 Sentiment Analysis</title>
		<meta name="author" content="Sara Soueidan for Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="css/demo.css" />
		<link rel="stylesheet" type="text/css" href="css/component1.css" />
		<script src="js/modernizr-2.6.2.min.js"></script>
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-7243260-2']);
_gaq.push(['_trackPageview']);
(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
 <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
 <script type="text/javascript">
  google.charts.load('current', {
        'packages':['geochart'],
        'mapsApiKey': 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY'
      });
  google.charts.setOnLoadCallback(drawRegionsMap);
  function drawRegionsMap() {
        var data = google.visualization.arrayToDataTable([
          ['States',   'Sentiments'],
          ['Delhi', 28], ['Haryana', 29], ['Tamil Nadu', 6], ['Maharashtra', -24],
          ['Jammu and Kashmir', 12], ['Rajasthan', -3], ['Gujarat', 3],
          ['Madhya Pradesh', 28], ['Himachal Pradesh', 15],
          ['Orissa', 4], ['Punjab', 35], ['Kerala', 12],
          ['Goa', -12], ['Jharkhand', 6],
          ['Arunachal Pradesh', -3], ['Andhra Pradesh', 12],
          ['Bihar', 26], ['Sikkim', 3], ['Assam', 15],
          ['Meghalaya', 9], ['Manipur', 0], ['West Bengal', 13], ['Nagaland', 5],
          ['Andaman and Nicobar Islands', 10], ['Karnataka', 12], ['Uttar Pradesh', -1],
          ['Chhattisgarh', -29], ['Mizoram', 6], ['Tripura', 32], 
          ['Uttarakhand', 12]
]);

        var options = {
          region: 'IN',
          colorAxis: {colors: ['green', 'yellow', 'red']},
          backgroundColor: '#81d4f',
          datalessRegionColor: '#ffffff',
          defaultColor: '	#FFFFFF',
          resolution:'provinces'
        };
         var chart = new google.visualization.GeoChart(document.getElementById('geochart-colors'));
        chart.draw(data, options);
      };
 </script>
 <style>
table, th, td {
  border: 1px solid white;
  border-bottom-right-radius: 0;
  border-radius: 3px;
  color:  #888888;
 
}
.th1{
    width: 32%;
     background-color: #F6F6F7;
    padding: 1% 2% 1% 1% ;
    box-sizing: border-box; 
    text-align: left;
   
}
th{
    width: 17%;
    background-color: #F6F6F7;
    padding: 1% 2% 1% 1% ;
    box-sizing: border-box;
    text-align: right;
}
td{
    padding: 1% 2% 1% 1% ;
    box-sizing: border-box;
    text-align: right;
}
.grey-row{
    background-color: #F6F6F7;
    text-align: right;
}
</style>
	</head>
	<body>
		<div class="container">
			<!-- Top Navigation -->
			<div class="codrops-top clearfix">
				<a class="codrops-icon codrops-icon-prev" href="http://tympanus.net/Development/CreativeLinkEffects/"><span>Previous Demo</span></a>
				<span class="right"><a class="codrops-icon codrops-icon-drop" href="http://tympanus.net/codrops/?p=16114"><span>Back to the Codrops Article</span></a></span>
			</div>
			<header>
				<h1>Covid-19 Sentiment Analysis </h1>	
			</header>
			<section>
				<p>
The Sentiments of Indian people related to lockdown and COVID-19 during the different phases of lockdown is shown with the help of Line and Bar graph below. Here four different Line graphs are shown representing the 4 different phases of lockdown which started from 25/March/2020 and upto 31/May/2020. After that one Bar graph is shown which represents complete sentiments of all the 4 phases together.
The First Phase was from :- 25/March/2020 - 14/April/2020
The Second Phase was from :- 15/March/2020 - 03/May/2020
The third Phase was from :- 04/May/2020 - 17/May/2020
The Fourth Phase was from :- 18/May/2020 - 31/May/2020</p>
			</section>
			<div id="geochart-colors" style="width: 800px; height: 800px; margin-left: 20px; 
			margin-top: -1px;"></div>
			

<table style="margin-left: 850px; margin-top: -680px;">
  <tr>
    <th class="th1">State/UT</th>
    <th>A</th>
    <th>A</th>
    <th>A</th>
    <th>A</th>
    
</tr>
  <tr>
    <td class="th1">West Bengal</td>
    <td class="grey-row" >19,170</td>
    <td class="grey-row" >5,959</td>
    <td class="grey-row" >12,528</td>
    <td class="grey-row" >683</td>
</tr>
  <tr>
    <td class="th1">Tripura</td>
    <td >2,947</td>
    <td >562</td>
    <td >2,317</td>
    <td >417</td>
  </tr>
  <tr>
    <td class="th1">Jammu and kashmir</td>
    <td class="grey-row" >5000</td>
    <td class="grey-row" >6452</td>
    <td class="grey-row" >2005</td>
    <td class="grey-row" >3254</td>
  </tr>
  <tr>
    <td class="th1">Tamil Nadu</td>
    <td >1,401</td>
    <td >307</td>
    <td >1,093</td>
    <td >1,264</td>
  </tr>
  <tr>
    <td class="th1">West Bengal</td>
    <td class="grey-row" >19,170</td>
    <td class="grey-row" >5,959</td>
    <td class="grey-row" >12,528</td>
    <td class="grey-row" >683</td>
</tr>
  <tr>
    <td class="th1">Tripura</td>
    <td >2,947</td>
    <td >562</td>
    <td >2,317</td>
    <td >417</td>
  </tr>
  <tr>
    <td class="th1">Jammu and kashmir</td>
    <td class="grey-row" >5000</td>
    <td class="grey-row" >6452</td>
    <td class="grey-row" >2005</td>
    <td class="grey-row" >3254</td>
  </tr>
  <tr>
    <td class="th1">Tamil Nadu</td>
    <td >1,401</td>
    <td >307</td>
    <td >1,093</td>
    <td >1,264</td>
  </tr>
  
  
</table>

			<div class="component">
				<!-- Start Nav Structure -->
				<button class="cn-button" id="cn-button">+</button>
				<div class="cn-wrapper" id="cn-wrapper">
				    <ul>
				      <li><a href="#"><span class="icon-picture"></span></a></li>
				      <li><a href="#"><span class="icon-headphones"></span></a></li>
				      <li><a href="#"><span class="icon-home"></span></a></li>
				      <li><a href="#"><span class="icon-facetime-video"></span></a></li>
				      <li><a href="#"><span class="icon-envelope-alt"></span></a></li>
				     </ul>
				</div>
				<div id="cn-overlay" class="cn-overlay"></div>
				<!-- End Nav Structure -->
			</div>
		</div><!-- /container -->
		<script src="js/polyfills.js"></script>
		<script src="js/demo1.js"></script>
		
	</body>
</html>