{% block head %}
<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COVID-19 Sentiment Analysis</title>
    <link rel="stylesheet" type="text/css" href="../static/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/component1.css" />
    <script src="../static/js/modernizr-2.6.2.min.js"></script>
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
    <script type="text/javascript" language="javascript" src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />
    
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>


    <style>
        #map {
            margin-top: 280px;
            height: 680px;
        }

        .paral h1 {
            color: rgba(255, 255, 255, 0.726);
            font-size: 60px;
            font-family: impact;
            text-align: center;
            padding-top: 60px;
            line-height: 100px;
            }

        .paral {
            min-height: 350px;
            background-attachment: fixed;
            background-size: cover;
            background-position: 50% 50%;
        }

        .paralsec {
            background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20200325/pngtree-red-gradient-creative-virus-background-image_332715.jpg);
        }

        .info { 
            padding: 6px 8px;
            text-align: center;
            font: 14px/16px Arial, Helvetica, sans-serif;
            background: white; 
            box-shadow: 0 0 15px rgba(0,0,0,0.2); 
            border-radius: 5px; }
    
        .info h3 {
            color: #777;
            font-weight: bold;
            font-size: medium;
        }
    
        .legend {
            text-align: left;
            line-height: 18px;
            color: #555;
        }
    
        .legend i {
            width: 18px;
            height: 18px;
            float: left;
            margin-right: 8px;
            opacity: 0.7;
        }

        .atext {
            background: none;
            border: none;
            margin: 0;
            padding: 0;
            cursor: pointer;
            min-width: 30px;
        }
    </style>
    
</head>

<body>
    <div class="jumbotron paral paralsec">
                <h1>Sentiment Analysis Of COVID-19 Tweets – Dashboard For Visualization</h1>
            </div>
    {% endblock %}
    <div class="container">
    {% block all %}
        <div class="card-columns" style="padding-top: 220px;">
            <div class="card border-success mb-3" style="max-width: 18rem;">
                <div class="card-header bg-transparent border-success"><h5 class="card-title text-success" style="text-align: center;">Positive Sentiments</h5></div>
                <div class="card-body text-success">
                    <p class="card-text">Cummulative percentage during complete lockdown is {{ls[1] | safe}}
                    </p>
                </div>
            </div>
            <div class="card border-warning mb-3" style="max-width: 18rem;">
                <div class="card-header bg-transparent border-warning"><h5 class="card-title text-warning" style="text-align: center;">Neutral Sentiments</h5></div>
                <div class="card-body text-warning">
                    <p class="card-text">Cummulative percentage during complete lockdown is {{ls[2] | safe}}
                    </p>
                </div>
            </div>
            <div class="card border-danger mb-3" style="max-width: 18rem;">
                <div class="card-header bg-transparent border-danger"><h5 class="card-title text-danger" style="text-align: center;">Negative Sentiments</h5></div>
                <div class="card-body text-danger">
                    <p class="card-text">Cummulative percentage during complete lockdown is {{ls[3] | safe}}
                    </p>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <form action="{{ url_for('states') }}" method="POST">
        <div id='map'></div>
        </form>
        <script type="text/javascript" src="../static/js/statesData.js"></script>
        
        <script type="text/javascript">

            var map = L.map('map').setView([21.1458, 78.0882], 5);

            L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
                maxZoom: 18,
                id: 'mapbox/light-v9',
                tileSize: 530,
                zoomOffset: -1
            }).addTo(map);

            map.touchZoom.disable();
            map.doubleClickZoom.disable();
            map.scrollWheelZoom.disable();
            map.boxZoom.disable();
            map.keyboard.disable();

            // control that shows state info on hover
            var info = L.control();

            info.onAdd = function (map) {
                this._div = L.DomUtil.create('div', 'info');
                this.update();
                return this._div;
            };

            info.update = function (props) {
                this._div.innerHTML = '<h3>Sentiments of People</h3>' + (props ?
                    '<b>' + props.name + '</b><br />' + props.density + '%'
                    : 'Hover over a state');
            };

            info.addTo(map);


            // get color depending on population density value
            function getColor(d) {
                return d > 31 ? '#800026' :
                d > 29.60 ? '#BD0026' :
                d > 28.50 ? '#E31A1C' :
                d > 27.30 ? '#FC4E2A' :
                d > 26.20 ? '#FD8D3C' :
                '#FFEDA0';
            }

            function style(feature) {
                return {
                    weight: 2,
                    opacity: 1,
                    color: 'white',
                    dashArray: '3',
                    fillOpacity: 0.7,
                    fillColor: getColor(feature.properties.density)
                };
            }

            function highlightFeature(e) {
                var layer = e.target;

                layer.setStyle({
                    weight: 5,
                    color: '#666',
                    dashArray: '',
                    fillOpacity: 0.7
                });

                if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
                    layer.bringToFront();
                }

                info.update(layer.feature.properties);
            }

            var geojson;

            function resetHighlight(e) {
                geojson.resetStyle(e.target);
                info.update();
            }
            function mapclick(e) {
                var layer = e.target;
                var props = layer.feature.properties;
                layer.bindPopup('<input name="button" class="atext" type="submit" value=' + props.name +  '>').addTo(map);
                layer.openPopup();
            }

            function onEachFeature(feature, layer) {
                layer.on({
                    mouseover: highlightFeature,
                    mouseout: resetHighlight,
                    click: mapclick
                });
            }

            geojson = L.geoJson(statesData, {
                style: style,
                onEachFeature: onEachFeature
            }).addTo(map);

            var legend = L.control({ position: 'bottomright' });

            legend.onAdd = function (map) {

                var div = L.DomUtil.create('div', 'info legend'),
                    grades = [31, 29.50, 28.30, 27.20, 26, 0],
                    labels = [],
                    from, to;

                for (var i = 0; i < grades.length; i++) {
                    from = grades[i];
                    to = grades[i + 1];

                    labels.push(
                        '<i style="background:' + getColor(from + 1) + '"></i> ' +
                        from + (to ? '&ndash;' + to : '+'));
                }

                div.innerHTML = labels.join('<br>');
                return div;
            };

            legend.addTo(map);

        </script>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    {% endblock %}

        <div class="component">
            <!-- Start Nav Structure -->
            <button class="cn-button" id="cn-button">+</button>
            <div class="cn-wrapper" id="cn-wrapper">
                <ul>
                    <li><a href="#"><span class="icon-picture"></span></a></li>
                    <li><a href="{{url_for('four')}}"><span>4</span></a></li>
                    <li><a href="{{url_for('home')}}"><span class="icon-home"></span></a></li>
                    <li><a href="#"><span class="icon-facetime-video"></span></a></li>
                    <li><a href="#"><span class="icon-envelope-alt"></span></a></li>
                </ul>
            </div>
            <div id="cn-overlay" class="cn-overlay"></div>
            <!-- End Nav Structure -->
        </div>
    </div><!-- /container -->
    <script src="../static/js/polyfills.js"></script>
    <script src="../static/js/demo1.js"></script>
</body>

</html>