<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COVID-19 Sentiment Analysis</title>
    <link rel="stylesheet" type="text/css" href="../static/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/component1.css" />
    <script src="../static/js/modernizr-2.6.2.min.js"></script>
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
    <script type="text/javascript">
        google.charts.load('current', {
            'packages': ['geochart'],
            'mapsApiKey': 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY'
        });
        google.charts.setOnLoadCallback(drawRegionsMap);
        function drawRegionsMap() {
            var data = google.visualization.arrayToDataTable([
                ['States', 'Sentiments'],
                ['Delhi', 28], ['Haryana', 29], ['Tamil Nadu', 6], ['Maharashtra', -24],
                ['Jammu and Kashmir', 12], ['Rajasthan', -3], ['Gujarat', 3],
                ['Madhya Pradesh', 28], ['Himachal Pradesh', 15],
                ['Orissa', 4], ['Punjab', 35], ['Kerala', 12],
                ['Goa', -12], ['Jharkhand', 6],
                ['Arunachal Pradesh', -3], ['Andhra Pradesh', 12],
                ['Bihar', 26], ['Sikkim', 3], ['Assam', 15],
                ['Meghalaya', 9], ['Manipur', 0], ['West Bengal', 13], ['Nagaland', 5],
                ['Andaman and Nicobar Islands', 10], ['Karnataka', 12], ['Uttar Pradesh', -1],
                ['Chhattisgarh', -29], ['Mizoram', 6], ['Tripura', 32],
                ['Uttarakhand', 12]
            ]);

            var options = {
                region: 'IN',
                colorAxis: { colors: ['green', 'yellow', 'red'] },
                backgroundColor: '#81d4f',
                datalessRegionColor: '#ffffff',
                defaultColor: '	#FFFFFF',
                resolution: 'provinces'
                };
            var chart = new google.visualization.GeoChart(document.getElementById   ('geochart-colors'));

            chart.draw(data, options);
        };
    </script>
    
    <style>
        table,
        th,
        td {
            border: 1px solid white;
            border-bottom-right-radius: 0;
            border-radius: 3px;
            color: #888888;

        }

        th {
            width: 17%;
            background-color: #F6F6F7;
            padding: 1% 2% 1% 1%;
            box-sizing: border-box;
            text-align: right;
        }

        td {
            padding: 1% 2% 1% 1%;
            box-sizing: border-box;
            text-align: right;
        }

        tr:not(.no-hover):hover {
            background-color: #dbd3dd;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <div class="container">
        <header>
            <h1 style="font-family: 'Abril Fatface', cursive; font-size:70px;">Covid-19 Sentiment Analysis </h1>
        </header>
        <div class="card-columns" style="padding-top: 110px;">
            <div class="card border-success mb-3" style="max-width: 18rem;">
                <div class="card-header bg-transparent border-success">Header</div>
                <div class="card-body text-success">
                    <h5 class="card-title">Success card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
                <div class="card-footer bg-transparent border-warning">Footer</div>
            </div>
            <div class="card border-warning mb-3" style="max-width: 18rem;">
                <div class="card-header bg-transparent border-warning">Header</div>
                <div class="card-body text-warning">
                    <h5 class="card-title">warning card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
                <div class="card-footer bg-transparent border-warning">Footer</div>
            </div>
            <div class="card border-danger mb-3" style="max-width: 18rem;">
                <div class="card-header bg-transparent border-danger">Header</div>
                <div class="card-body text-danger">
                    <h5 class="card-title">danger card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
                <div class="card-footer bg-transparent border-danger">Footer</div>
            </div>
        </div>
        <div id="geochart-colors" style="width: 1100px; height: 1000px; margin-left: 20px; margin-top: -1px;"></div>

        <!-- <table style="margin-left: 850px; margin-top: -680px;">
        <tr>
            <th class="th1">State/UT</th>
            <th>Positive</th>
            <th>Negative</th>
            <th>Negative</th>
    
        </tr>
        <tr>
            <td>Andhra Pradesh</td>
            <td>{{ls[0]['Positive_sentiments']['andhra pradesh']}}</td>
            <td>{{ls[0]['Negative_sentiments']['andhra pradesh']}}</td>
            <td>{{ls[0]['Neutral_sentiments']['andhra pradesh']}}</td>
        </tr>
        <tr>
            <td>Arunachal Pradesh</td>
            <td>{{ls[0]['Positive_sentiments']['arunachal pradesh']}}</td>
            <td>{{ls[0]['Negative_sentiments']['arunachal pradesh']}}</td>
            <td>{{ls[0]['Neutral_sentiments']['arunachal pradesh']}}</td>
        </tr>
        <tr>
            <td>Assam</td>
            <td>{{ls[0]['Positive_sentiments']['assam']}}</td>
            <td>{{ls[0]['Negative_sentiments']['assam']}}</td>
            <td>{{ls[0]['Neutral_sentiments']['assam']}}</td>
        </tr>
        <tr>
            <td>Bihar</td>
            <td>{{ls[0]['Positive_sentiments']['bihar']}}</td>
            <td>{{ls[0]['Negative_sentiments']['bihar']}}</td>
            <td>{{ls[0]['Neutral_sentiments']['bihar']}}</td>
        </tr>
        <tr>
            <td>Chandigarh</td>
            <td>{{ls[0]['Positive_sentiments']['chandigarh']}}</td>
            <td>{{ls[0]['Negative_sentiments']['chandigarh']}}</td>
            <td>{{ls[0]['Neutral_sentiments']['chandigarh']}}</td>
        </tr>
        <tr>
            <td>Chhattisgarh</td>
            <td>{{ls[0]['Positive_sentiments']['chhattisgarh']}}</td>
            <td>{{ls[0]['Negative_sentiments']['chhattisgarh']}}</td>
            <td>{{ls[0]['Neutral_sentiments']['chhattisgarh']}}</td>
        </tr>
        <tr>
            <td>Dadra and Nagar Haveli</td>
            <td>{{ls[0]['Positive_sentiments']['dadra and nagar haveli']}}</td>
            <td>{{ls[0]['Negative_sentiments']['dadra and nagar haveli']}}</td>
            <td>{{ls[0]['Neutral_sentiments']['dadra and nagar haveli']}}</td>
        </tr>
        <tr>
            <td>Daman And Diu</td>
            <td>{{ls[0]['Positive_sentiments']['daman and diu']}}</td>
            <td>{{ls[0]['Negative_sentiments']['daman and diu']}}</td>
            <td>{{ls[0]['Neutral_sentiments']['daman and diu']}}</td>
        </tr>
        <tr>
            <td>Delhi</td>
            <td>{{ls[0]['Positive_sentiments']['delhi']}}</td>
            <td>{{ls[0]['Negative_sentiments']['delhi']}}</td>
            <td>{{ls[0]['Neutral_sentiments']['delhi']}}</td>
        </tr>
        <tr>
            <td>Goa</td>
            <td>{{ls[0]['Positive_sentiments']['goa']}}</td>
            <td>{{ls[0]['Negative_sentiments']['goa']}}</td>
            <td>{{ls[0]['Neutral_sentiments']['goa']}}</td>
        </tr>
        <tr>
            <td>Gujarat</td>
            <td>{{ls[0]['Positive_sentiments']['gujarat']}}</td>
            <td>{{ls[0]['Negative_sentiments']['gujarat']}}</td>
            <td>{{ls[0]['Neutral_sentiments']['gujarat']}}</td>
        </tr>
        <tr>
            <td>Haryana</td>
            <td>{{ls[0]['Positive_sentiments']['haryana']}}</td>
            <td>{{ls[0]['Negative_sentiments']['haryana']}}</td>
            <td>{{ls[0]['Neutral_sentiments']['haryana']}}</td>
        </tr>
        <tr>
            <td>Himachal Pradesh</td>
            <td>{{ls[0]['Positive_sentiments']['himachal pradesh']}}</td>
            <td>{{ls[0]['Negative_sentiments']['himachal pradesh']}}</td>
            <td>{{ls[0]['Neutral_sentiments']['himachal pradesh']}}</td>
        </tr>
        <tr>
            <td>Jammu and Kashmir</td>
            <td>{{ls[0]['Positive_sentiments']['jammu and kashmir']}}</td>
            <td>{{ls[0]['Negative_sentiments']['jammu and kashmir']}}</td>
            <td>{{ls[0]['Neutral_sentiments']['jammu and kashmir']}}</td>
        </tr>
        <tr>
            <td>Jharkhand</td>
            <td>{{ls[0]['Positive_sentiments']['jharkhand']}}</td>
            <td>{{ls[0]['Negative_sentiments']['jharkhand']}}</td>
            <td>{{ls[0]['Neutral_sentiments']['jharkhand']}}</td>
        </tr>
        <tr>
            <td>Karnataka</td>
            <td>{{ls[0]['Positive_sentiments']['karnataka']}}</td>
            <td>{{ls[0]['Negative_sentiments']['karnataka']}}</td>
            <td>{{ls[0]['Neutral_sentiments']['karnataka']}}</td>
        </tr>
        <tr>
            <td>Kerala</td>
            <td>{{ls[0]['Positive_sentiments']['kerala']}}</td>
            <td>{{ls[0]['Negative_sentiments']['kerala']}}</td>
            <td>{{ls[0]['Neutral_sentiments']['kerala']}}</td>
        </tr>
        <tr>
            <td>Madhya Pradesh</td>
            <td>{{ls[0]['Positive_sentiments']['madhya pradesh']}}</td>
            <td>{{ls[0]['Negative_sentiments']['madhya pradesh']}}</td>
            <td>{{ls[0]['Neutral_sentiments']['madhya pradesh']}}</td>
        </tr>
        <tr>
            <td>Maharashtra</td>
            <td>{{ls[0]['Positive_sentiments']['maharashtra']}}</td>
            <td>{{ls[0]['Negative_sentiments']['maharashtra']}}</td>
            <td>{{ls[0]['Neutral_sentiments']['maharashtra']}}</td>
        </tr>
        <tr>
            <td>Manipur</td>
            <td>{{ls[0]['Positive_sentiments']['manipur']}}</td>
            <td>{{ls[0]['Negative_sentiments']['manipur']}}</td>
            <td>{{ls[0]['Neutral_sentiments']['manipur']}}</td>
        </tr>
        <tr>
            <td>Meghalaya</td>
            <td>{{ls[0]['Positive_sentiments']['meghalaya']}}</td>
            <td>{{ls[0]['Negative_sentiments']['meghalaya']}}</td>
            <td>{{ls[0]['Neutral_sentiments']['meghalaya']}}</td>
        </tr>
        <tr>
            <td>Mizoram</td>
            <td>{{ls[0]['Positive_sentiments']['mizoram']}}</td>
            <td>{{ls[0]['Negative_sentiments']['mizoram']}}</td>
            <td>{{ls[0]['Neutral_sentiments']['mizoram']}}</td>
        </tr>
        <tr>
            <td>Nagaland</td>
            <td>{{ls[0]['Positive_sentiments']['nagaland']}}</td>
            <td>{{ls[0]['Negative_sentiments']['nagaland']}}</td>
            <td>{{ls[0]['Neutral_sentiments']['nagaland']}}</td>
        </tr>
        <tr>
            <td>Odisha</td>
            <td>{{ls[0]['Positive_sentiments']['odisha']}}</td>
            <td>{{ls[0]['Negative_sentiments']['odisha']}}</td>
            <td>{{ls[0]['Neutral_sentiments']['odisha']}}</td>
        </tr>
        <tr>
            <td>Puducherry</td>
            <td>{{ls[0]['Positive_sentiments']['puducherry']}}</td>
            <td>{{ls[0]['Negative_sentiments']['puducherry']}}</td>
            <td>{{ls[0]['Neutral_sentiments']['puducherry']}}</td>
        </tr>
        <tr>
            <td>Punjab</td>
            <td>{{ls[0]['Positive_sentiments']['punjab']}}</td>
            <td>{{ls[0]['Negative_sentiments']['punjab']}}</td>
            <td>{{ls[0]['Neutral_sentiments']['punjab']}}</td>
        </tr>
        <tr>
            <td>Rajasthan</td>
            <td>{{ls[0]['Positive_sentiments']['rajasthan']}}</td>
            <td>{{ls[0]['Negative_sentiments']['rajasthan']}}</td>
            <td>{{ls[0]['Neutral_sentiments']['rajasthan']}}</td>
        </tr>
        <tr>
            <td>Sikkim</td>
            <td>{{ls[0]['Positive_sentiments']['sikkim']}}</td>
            <td>{{ls[0]['Negative_sentiments']['sikkim']}}</td>
            <td>{{ls[0]['Neutral_sentiments']['sikkim']}}</td>
        </tr>
        <tr>
            <td>Tamil Nadu</td>
            <td>{{ls[0]['Positive_sentiments']['tamil nadu']}}</td>
            <td>{{ls[0]['Negative_sentiments']['tamil nadu']}}</td>
            <td>{{ls[0]['Neutral_sentiments']['tamil nadu']}}</td>
        </tr>
        <tr>
            <td>Tripura</td>
            <td>{{ls[0]['Positive_sentiments']['tripura']}}</td>
            <td>{{ls[0]['Negative_sentiments']['tripura']}}</td>
            <td>{{ls[0]['Neutral_sentiments']['tripura']}}</td>
        </tr>
        <tr>
            <td>Uttar Pradesh</td>
            <td>{{ls[0]['Positive_sentiments']['uttar pradesh']}}</td>
            <td>{{ls[0]['Negative_sentiments']['uttar pradesh']}}</td>
            <td>{{ls[0]['Neutral_sentiments']['uttar pradesh']}}</td>
        </tr>
        <tr>
            <td>Uttarakhand</td>
            <td>{{ls[0]['Positive_sentiments']['uttarakhand']}}</td>
            <td>{{ls[0]['Negative_sentiments']['uttarakhand']}}</td>
            <td>{{ls[0]['Neutral_sentiments']['uttarakhand']}}</td>
        </tr>
        <tr>
            <td>West Bengal</td>
            <td>{{ls[0]['Positive_sentiments']['west bengal']}}</td>
            <td>{{ls[0]['Negative_sentiments']['west bengal']}}</td>
            <td>{{ls[0]['Neutral_sentiments']['west bengal']}}</td>
        </tr>
    </table>
    <br>
    <br>
    <br>
    <br> -->

        <div class="component">
            <!-- Start Nav Structure -->
            <button class="cn-button" id="cn-button">+</button>
            <div class="cn-wrapper" id="cn-wrapper">
                <ul>
                    <li><a href="#"><span class="icon-picture"></span></a></li>
                    <li><a href="#"><span class="icon-headphones"></span></a></li>
                    <li><a href="#"><span class="icon-home"></span></a></li>
                    <li><a href="#"><span class="icon-facetime-video"></span></a></li>
                    <li><a href="#"><span class="icon-envelope-alt"></span></a></li>
                </ul>
            </div>
            <div id="cn-overlay" class="cn-overlay"></div>
            <!-- End Nav Structure -->
        </div>
    </div><!-- /container -->
    <script src="../static/js/polyfills.js"></script>
    <script src="../static/js/demo1.js"></script>
</body>

</html>