{% extends 'main.html' %}
{% block head %}
<!DOCTYPE html>
<html>
<head>
  <title>{{args[2]}}</title>
   <link
        href="https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap|family=Architects+Daughter&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <link href="https://fonts.googleapis.com/css2?family=Merienda+One&family=Varela+Round&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css2?family=Fondamento&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
<script type="text/javascript" language="javascript" src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<link rel="stylesheet" type="text/css" href="../static/css/component1.css" />
<script src="../static/js/modernizr-2.6.2.min.js"></script>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin="" />
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
  integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
  crossorigin=""></script>

  <script type="text/javascript" src="../static/js/haryana.js"></script>
  <script type="text/javascript" src="../static/js/punjab.js"></script>
  <script type="text/javascript" src="../static/js/andhra.js"></script>
  <script type="text/javascript" src="../static/js/assam.js"></script>
  <script type="text/javascript" src="../static/js/arunachal.js"></script>
  <script type="text/javascript" src="../static/js/bihar.js"></script>
  <script type="text/javascript" src="../static/js/chhattisgarh.js"></script>
  <script type="text/javascript" src="../static/js/delhi.js"></script>
  <script type="text/javascript" src="../static/js/goa.js"></script>
  <script type="text/javascript" src="../static/js/gujarat.js"></script>
  <script type="text/javascript" src="../static/js/himachal.js"></script>
  <script type="text/javascript" src="../static/js/jharkhand.js"></script>
  <script type="text/javascript" src="../static/js/jk.js"></script>
  <script type="text/javascript" src="../static/js/karnataka.js"></script>
  <script type="text/javascript" src="../static/js/kerala.js"></script>
  <script type="text/javascript" src="../static/js/madhya.js"></script>
  <script type="text/javascript" src="../static/js/maharashtra.js"></script>
  <script type="text/javascript" src="../static/js/manipur.js"></script>
  <script type="text/javascript" src="../static/js/meghalaya.js"></script>
  <script type="text/javascript" src="../static/js/mizoram.js"></script>
  <script type="text/javascript" src="../static/js/nagaland.js"></script>
  <script type="text/javascript" src="../static/js/odisha.js"></script>
  <script type="text/javascript" src="../static/js/rajasthan.js"></script>
  <script type="text/javascript" src="../static/js/sikkim.js"></script>
  <script type="text/javascript" src="../static/js/tamil.js"></script>
  <script type="text/javascript" src="../static/js/telangana.js"></script>
  <script type="text/javascript" src="../static/js/tripura.js"></script>
  <script type="text/javascript" src="../static/js/uttar.js"></script>
  <script type="text/javascript" src="../static/js/uttarakhand.js"></script>
  <script type="text/javascript" src="../static/js/west.js"></script>
  <script src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</head>
<style type="text/css">
	.state{
  color: #E23028;
  font-size: 24px;
  font-family: "archia";
background:rgba(226,48,40,.0627451);
  padding: .25rem;
  border-radius: 5px;
 display: inline-flex;
 margin: 50px 100px 40px;  
}
.detail{
	color: #6C757D;
	font-size: 12px;
	font-family: "archia";
	margin: -16px 10px 0px 100px;
}

.card{
    margin: 40px 0px 0px 100px;
    }

.column{
  opacity: 1;
  padding: 20px 30px 50px 30px;
  border-radius: 5px;
  transform: translateX(0px);
  height: 10rem;
  cursor: pointer;
  transition: background .15s ease-in-out;
  display: block;
  text-align: center;
  float: left;
}


/* Style the counter cards */


.red{
    background-color: rgba(255,7,58,0.13); 
}

.green{
    background-color: rgba(40,167,69,.12549) 
}

.yellow{
    background-color: rgba(0,0,0,0.13); 
 
    
}

.population{
	margin: 290px 0px 0px 75px;
  display: inline-block;
  width: 50%;
} 


.Negative {
  color: rgba(255,7,58,0.6);
  background: rgba(255,7,58,0.13);
  display: inline-block;
  padding: 22px 62px 22px 18px;
  border-radius: 5px;
  margin: 20px ;
  }
 
.Positive {
  color: rgba(40,167,69,0.6);
  background: rgba(40,167,69,0.13);
  display: inline-block;
  padding: 22px 65px 22px 18px; 
  border-radius: 5px;
  margin-left: 20px;
}

.Neutral{
  color: rgba(108,117,125,.6);
  background: rgba(108,117,125,.0627451);
  display: inline-block;
  padding: 22px 82px 22px 18px;
  border-radius: 5px;
  margin: 20px 0px 0px 70px;
}

.total{
	color: rgba(0,123,255,.6);;
	background: rgba(0,123,255,.0627451);
	display: inline-block;
    padding: 22px 65px 22px 18px;
    border-radius: 5px;
    margin-left: 70px;

}

.hashtags{
	margin-left: 140px;
	color: #6C757D; 
	text-align: center; 
font-family: 'Rajdhani', sans-serif;		
}

#map {
  
  width: 80%;
  height: 550px;
}

.hash-graph
{
  float: right; 
  display: inline-block;
  width: 480px;
  margin: -250px 0px 0px 0px;
}

.sentiment
{
  float: right;
  margin: -585px 0px 0px 0px; 
  width: 50%; 
  /*padding-left: 750px;*/
  /*padding-top: -190px;*/
}
.sentiment-graph
{
  /*padding-left: 50px;*/
  /*float:right;*/ 
}
</style>
<body>
{% endblock %}
{% block all %}
<h1 id="statn" class="state">{{args[2]}}</h1><h2 style="padding:0px 0px 0px 600px; color: #007BFF; display: inline;font-family: 'Fondamento', cursive;">Trending Hashtags</h2>
<h5 class = "detail"> - As per 31 May , 2020 </h5>

<div class="row">
            <br>
            <div class="card">
             <div class="column yellow">
                <h3 style="color: black; text-align: center;font-family: 'Walter Turncoat', cursive;font-size: small;">Neutral</h3>
                <br>
                <i class="fa fa-twitter" style="color: black;"></i>
                <br>
                <br>
                
                <p style="font-family: 'Julius Sans One' ; font-size: 30px; color: black;"><strong>4,144</strong></p>
            </div>
            <div style="margin-left: 30px;" class="column green">
                <h3 style="color: green; text-align: center;font-family: 'Walter Turncoat', cursive;font-size: small;">Positive</h3>
                <br>
                <i class="fa fa-twitter" style="color: green;"></i>
                <br>
                <br>
                
                <p style="font-family:  'Julius Sans One', sans-serif; font-size: 30px; color: green;">
                <strong>19,341</strong></p>
            </div>
           
             <div style="margin-left: 30px;" class="column red">
                <h3 style="color: red; text-align: center; font-family: 'Walter Turncoat', cursive;font-size: small;">Negative</h3>
                <br>
                <i class="fa fa-twitter" style="color: red;"></i>
                <br>
                <br>
                
                <p style="font-family: 'Julius Sans One', sans-serif; font-size: 30px; color: red;"><strong>6,345</strong>
                </p>
            </div>
              <div  class="column hashtags">
                <h3 style=" margin: -30px 0px 0px 0px;">#{{args[4][0]}} - {{args[5][0]}}</h3>
                	<br>
                <h3>#{{args[4][1]}} - {{args[5][1]}}</h3>
                <br>
                <h3>#{{args[4][2]}} - {{args[5][2]}}</h3>
                  <br>
                <h3>#{{args[4][3]}} - {{args[5][3]}}</h3>
                  <br>                
                <h3>#{{args[4][4]}} - {{args[5][4]}}</h3>
            </div>
        </div>
      </div>
      <div class="hash-graph">
        {{args[1]|safe}}
      </div>
   	<div class = "population">
      <div id="map"></div>
      <br>
      <br>
      <h3 style = "color: #6C757D; font: 14px archia "><strong>Population</strong></h3>
      <br>
      <h1 style = "color: #6C757D; font: 24px archia; margin-top: -5px;"><strong>{{args[3]}}</strong></h1>
    </div>
    <div class = "sentiment">
    <h2 style="padding:0px 0px 0px 200px; color: #6C757D; /*display: inline*/;font-family: 'Special Elite', cursive; ;">SentimentAnalysis</h2>
    {{args[0]|safe}}
    </div>
   <br>
   <br>
   <br>
   <br>

<div class= "total">
  <h3 style="font-family: 'Varela Round', sans-serif; padding: 0px;">Tweets Per thousand</h3>
  <br>
<h1 style = "color: #007bff;margin: -13px 0px 0px 0px;">169</h1>
  <p style="font-family: 'Varela Round', sans-serif">169 out of every <br> 1 thousand tweets in <br>Madhya Pradesh were<br>
   about covid-19.</p>
</div>

<div class= "Positive">
  <h3 style="font-family: 'Varela Round', sans-serif; ">Positive sentiment</h3>
    <br>
  <h1 style = "color: #28A745; margin: -13px 0px 0px 0px;">{{args[6]}}</h1>
  <p style="font-family: 'Varela Round', sans-serif">{{args[6]}} out of every  <br> hundred tweets in <br>
   Madhya Pradesh were <br>  
    positive</p>
</div>
<div class= "Neutral">
  <h3 style="font-family: 'Varela Round', sans-serif; padding: 0px;">Neutral sentiment</h3>
 <br>
  <h1 style = "color: #6C757D;  margin: -13px 0px 0px 0px;">{{args[8]}}</h1>
  <p style="font-family: 'Varela Round', sans-serif">{{args[8]}} out of every  <br> hundred tweets in <br>
   Madhya Pradesh were <br>  
    neutral.</p>
</div>
<div class= "Negative">
  <h3 style="font-family: 'Varela Round', sans-serif; padding: 0px;">Negative sentiment</h3>
 <br>
  <h1 style = "color: #FF073A; margin: -13px 0px 0px 0px;">{{args[7]}}</h1>
  <p style="font-family: 'Varela Round', sans-serif">{{args[7]}} out of every  <br> hundred tweets in <br>
   Madhya Pradesh were <br>  
    negative.</p>
</div>




<br>

<script type="text/javascript">
  
var names = document.getElementById('statn').innerHTML;
var  loc = "hellp"
var zoom = 6.6
  if (names == 'Haryana') {
    loc = [29.0588, 76.0856]
  }else if(names == 'Punjab')
   {
    loc = [31.1471, 75.3412]
  } 
  else if (names == 'Assam') {
      loc = [26.2006, 92.9376]
    } 
  else if (names == 'Goa') {
    loc = [15.2993, 74.1240]
    zoom = 9
  } 
  else if (names == 'Andhra Pradesh') {
    loc = [15.9129, 79.7400]
  } 
  else if (names == 'Arunachal Pradesh') {
    loc = [28.2180, 94.7278]
  } 
  else if (names == 'Bihar') {
    loc = [25.0961, 85.3131]
  } 
  else if (names == 'Chhattisgarh') {
    loc = [21.2787, 81.8661]
  } 
  else if (names == 'Delhi') {
    loc = [28.7041, 77.1025]
    zoom = 9
  } 
  else if (names == 'Gujarat') {
    loc = [22.2587, 71.1924]
  } 
  else if (names == 'Himachal Pradesh') {
    loc = [31.1048, 77.1734]
  } 
  else if (names == 'Jharkhand') {
    loc = [23.6102, 85.2799]
  } 
  else if (names == 'Jammu and Kashmir') {
    loc = [33.7782, 76.5762]
  } 
  else if (names == 'Karnataka') {
    loc = [15.3173, 75.7139]
  } 
  else if (names == 'Kerala') {
    loc = [10.8505, 76.2711]
  } 
  else if (names == 'Madhya Pradesh') {
    loc = [22.9734, 78.6569]
  } 
  else if (names == 'Maharashtra') {
    loc = [19.7515, 75.7139]
  } 
  else if (names == 'Manipur') {
    loc = [24.6637, 93.9063]
    zoom = 8
  } 
  else if (names == 'Meghalaya') {
    loc = [25.4670, 91.3662]
    zoom = 8
  } 
  else if (names == 'Mizoram') {
    loc = [23.1645, 92.9376]
    zoom = 8
  } 
  else if (names == 'Nagaland') {
    loc = [26.4509, 94.6032]
    zoom = 7
  } 
  else if (names == 'Odisha') {
    loc = [20.9517, 85.0985]
  } 
  else if (names == 'Rajasthan') {
    loc = [27.0238, 74.2179]
    zoom = 6
  } 
  else if (names == 'Sikkim') {
    loc = [27.5330, 88.5122]
    zoom = 9
  } 
  else if (names == 'Tamil Nadu') {
    loc = [11.1271, 78.6569]
  } 
  else if (names == 'Telangana') {
    loc = [18.1124, 79.0193]
  } 
  else if (names == 'Tripura') {
    loc = [23.9408, 91.9882]
    zoom = 8
  } 
  else if (names == 'Uttar Pradesh') {
    loc = [26.8467, 80.9462]
  } 
  else if (names == 'Uttarakhand') {
    loc = [30.0668, 79.0193]
  } 
  else if (names == 'West Bengal') {
      loc = [22.9868, 87.8550]
  } 


  var map = L.map('map').setView(loc, zoom);
  L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
    maxZoom: 18,
    id: 'mapbox/light-v9',
    tileSize: 512,
    zoomOffset: -1
  }).addTo(map);

  map.touchZoom.disable();
  map.doubleClickZoom.disable();
  map.scrollWheelZoom.disable();
  map.boxZoom.disable();
  map.keyboard.disable();


  function style(feature) {
    return {
      weight: 2,
      opacity: 1, 
      dashArray: '3',
      color: "black",
      fillOpacity: 0.7,
    };
  }

var geojson;
var m1;
var m2;
var m3;

if (names == 'Haryana'){
geojson = L.geoJson(haryana, {
    style: style,
  }).addTo(map);

  m1 = L.marker([29.1492, 75.7217]).addTo(map)
  m2 = L.marker([30.0405, 76.8493]).addTo(map)
  m3 = L.marker([28.7387, 76.3439]).addTo(map)
  m1.bindPopup('<blockquote class="twitter-tweet"><p lang="und" dir="ltr">Which <a href="https://twitter.com/hashtag/Haryana?src=hash&amp;ref_src=twsrc%5Etfw">#Haryana</a> Leader has been the most Active among the people during the <a href="https://twitter.com/hashtag/Corona?src=hash&amp;ref_src=twsrc%5Etfw">#Corona</a> Crisis in <a href="https://twitter.com/hashtag/Haryana?src=hash&amp;ref_src=twsrc%5Etfw">#Haryana</a>. <br>(Write in Comments)<br><br>कोरोना संक्रमण के दौरान <a href="https://twitter.com/hashtag/%E0%A4%B9%E0%A4%B0%E0%A4%BF%E0%A4%AF%E0%A4%BE%E0%A4%A3%E0%A4%BE?src=hash&amp;ref_src=twsrc%5Etfw">#हरियाणा</a> का कौन सा नेता कोरोना के खतरे की परवाह न करके जनता के बीच सबसे ज्यादा सक्रिय रहा है ? <br>(नीचे कमैंट्स में नाम लिखें)</p>&mdash; Haryana Tweets ✏️ (@HaryanaTweets) <a href="https://twitter.com/HaryanaTweets/status/1265316162830647297?ref_src=twsrc%5Etfw">May 26, 2020</a></blockquote>')

  
} else if (names == 'Punjab') {
    geojson = L.geoJson(punjab, {
    style: style,
  }).addTo(map);

  m1 = L.marker([31.5972, 75.0366]).addTo(map)
  m2 = L.marker([30.2211, 74.4104]).addTo(map)
  m3 = L.marker([30.5811, 76.1572]).addTo(map)
  }
  else if (names == 'Assam') {
    geojson = L.geoJson(assam, {
    style: style,
  }).addTo(map);

  m1 = L.marker([26.1948, 92.7575]).addTo(map)
  m2 = L.marker([25.5424, 92.8894]).addTo(map)
  m3 = L.marker([26.3771, 93.7628]).addTo(map)
  }
  else if (names == 'Goa') {
    geojson = L.geoJson(goa, {
    style: style,
  }).addTo(map);

  m1 = L.marker([15.5251,  74.1412]).addTo(map)
  m2 = L.marker([15.3927, 73.9929]).addTo(map)
  m3 = L.marker([15.0906, 74.1357]).addTo(map)
  }
  else if (names == 'Andhra Pradesh') {
    geojson = L.geoJson(andhra, {
    style: style,
  }).addTo(map);

  m1 = L.marker([15.8345, 79.6728]).addTo(map)
  m2 = L.marker([14.6898, 77.7392]).addTo(map)
  m3 = L.marker([13.7527, 79.2553]).addTo(map)
  }
  else if (names == 'Arunachal Pradesh') {
    geojson = L.geoJson(arunachal, {
    style: style,
  }).addTo(map);

  m1 = L.marker([27.994401411046148, 93.065185546875]).addTo(map)
  m2 = L.marker([28.825425374477224,  94.85595703125]).addTo(map)
  m3 = L.marker([28.101057958669447, 94.02099609375]).addTo(map)
  }
  else if (names == 'Bihar') {
    geojson = L.geoJson(bihar, {
    style: style,
  }).addTo(map);

  m1 = L.marker([26.41155054662258,  85.40771484375]).addTo(map)
  m2 = L.marker([25.918526162075153, 87.07763671875]).addTo(map)
  m3 = L.marker([24.926294766395593, 85.1220703125]).addTo(map)
  }
  else if (names == 'Chhattisgarh') {
    geojson = L.geoJson(chhattisgarh, {
    style: style,
  }).addTo(map);

  m1 = L.marker([20.159098270646936, 81.36474609375]).addTo(map)
  m2 = L.marker([23.32208001137843, 82.68310546875]).addTo(map)
  m3 = L.marker([21.514406720030294, 82.94677734375]).addTo(map)
  }
  else if (names == 'Delhi') {
    geojson = L.geoJson(delhi, {
    style: style,
  }).addTo(map);

  m1 = L.marker([28.825425374477224, 77.091064453125]).addTo(map)
  m2 = L.marker([28.606225744900115, 76.96197509765625]).addTo(map)
  m3 = L.marker([28.606225744900115, 77.19268798828125]).addTo(map)
  }
  else if (names == 'Gujarat') {
    geojson = L.geoJson(gujarat, {
    style: style,
  }).addTo(map);

  m1 = L.marker([21.238182425982313, 70.697021484375]).addTo(map)
  m2 = L.marker([23.049407390110577, 71.1474609375]).addTo(map)
  m3 = L.marker([22.11617714721062, 71.773681640625]).addTo(map)
  }
  else if (names == 'Himachal Pradesh') {
    geojson = L.geoJson(himachal, {
    style: style,
  }).addTo(map);

  m1 = L.marker([32.602361666817515, 76.44287109375]).addTo(map)
  m2 = L.marker([32.24997445586331, 77.9150390625]).addTo(map)
  m3 = L.marker([31.034108344903512, 77.40966796875]).addTo(map)
  }
  else if (names == 'Jharkhand') {
    geojson = L.geoJson(jharkhand, {
    style: style,
  }).addTo(map);

  m1 = L.marker([24.00632619875113, 83.990478515625]).addTo(map)
  m2 = L.marker([24.246964554300924, 85.69335937499999]).addTo(map)
  m3 = L.marker([22.705255477207526, 85.02319335937499]).addTo(map)
  }
  else if (names == 'Jammu and Kashmir') {
    geojson = L.geoJson(jk, {
    style: style,
  }).addTo(map);

  m1 = L.marker([34.05265942137599, 76.3330078125]).addTo(map)
  m2 = L.marker([32.97180377635759, 75.41015624999999]).addTo(map)
  m3 = L.marker([33.41310221370827, 77.05810546875]).addTo(map)
  }
  else if (names == 'Karnataka') {
    geojson = L.geoJson(karnataka, {
    style: style,
  }).addTo(map);

  m1 = L.marker([16.699340234594537, 76.4208984375]).addTo(map)
  m2 = L.marker([14.583583455156525, 75.0146484375]).addTo(map)
  m3 = L.marker([12.768946439455956, 76.61865234374999]).addTo(map)
  }
  else if (names == 'Kerala') {
    geojson = L.geoJson(kerala, {
    style: style,
  }).addTo(map);

  m1 = L.marker([10.88725377263463, 76.26708984375]).addTo(map)
  m2 = L.marker([9.990490803070292, 76.83837890625]).addTo(map)
  m3 = L.marker([9.253936156814463, 76.53076171875]).addTo(map)
  }
  else if (names == 'Madhya Pradesh') {
    geojson = L.geoJson(madhya, {
    style: style,
  }).addTo(map);

  m1 = L.marker([23.52370005882413, 76.5087890625]).addTo(map)
  m2 = L.marker([21.983801417384697, 78.55224609374999]).addTo(map)
  m3 = L.marker([23.905926927314724, 80.9912109375]).addTo(map)
  }
  else if (names == 'Maharashtra') {
    geojson = L.geoJson(maharashtra, {
    style: style,
  }).addTo(map);

  m1 = L.marker([20.427012814257385, 75.08056640625]).addTo(map)
  m2 = L.marker([20.34462694382967, 77.71728515624999]).addTo(map)
  m3 = L.marker([17.895114303749143, 74.619140625]).addTo(map)
  }
  else if (names == 'Manipur') {
    geojson = L.geoJson(manipur, {
    style: style,
  }).addTo(map);

  m1 = L.marker([24.996015742094006, 93.44970703125]).addTo(map)
  m2 = L.marker([25.005972656239187, 94.15283203125]).addTo(map)
  m3 = L.marker([24.43714786161562, 93.6474609375]).addTo(map)
  }
  else if (names == 'Meghalaya') {
    geojson = L.geoJson(meghalaya, {
    style: style,
  }).addTo(map);

  m1 = L.marker([25.750424835909385, 90.362548828125]).addTo(map)
  m2 = L.marker([25.443274612305746, 92.186279296875]).addTo(map)
  m3 = L.marker([25.334096684794456, 91.12060546875]).addTo(map)
  }
  else if (names == 'Mizoram') {
    geojson = L.geoJson(mizoram, {
    style: style,
  }).addTo(map);

  m1 = L.marker([23.926013033021192, 92.669677734375]).addTo(map)
  m2 = L.marker([22.40087159030595, 92.845458984375]).addTo(map)
  m3 = L.marker([23.271627053918277, 93.109130859375]).addTo(map)
  }
  else if (names == 'Nagaland') {
    geojson = L.geoJson(nagaland, {
    style: style,
  }).addTo(map);

  m1 = L.marker([26.509904531413927, 94.52636718749999]).addTo(map)
  m2 = L.marker([25.799891182088334, 94.41650390625]).addTo(map)
  m3 = L.marker([26.990618722964737, 95.55908203125]).addTo(map)
  }
  else if (names == 'Odisha') {
    geojson = L.geoJson(odisha, {
    style: style,
  }).addTo(map);

  m1 = L.marker([20.3034175184893, 83.73779296875]).addTo(map)
  m2 = L.marker([18.771115062337024, 82.46337890625]).addTo(map)
  m3 = L.marker([19.425153718960143, 84.1552734375]).addTo(map)
  }
  else if (names == 'Rajasthan') {
    geojson = L.geoJson(rajasthan, {
    style: style,
  }).addTo(map);

  m1 = L.marker([26.92206991673282, 70.77392578125]).addTo(map)
  m2 = L.marker([25.819671943904044, 74.72900390625]).addTo(map)
  m3 = L.marker([28.14950321154457, 74.1357421875]).addTo(map)
  }
  else if (names == 'Sikkim') {
    geojson = L.geoJson(sikkim, {
    style: style,
  }).addTo(map);

  m1 = L.marker([27.727298422724655, 88.406982421875]).addTo(map)
  m2 = L.marker([27.48390806852859, 88.2861328125]).addTo(map)
  m3 = L.marker([27.415662034561, 88.6761474609375]).addTo(map)
  }
  else if (names == 'Tamil Nadu') {
    geojson = L.geoJson(tamil, {
    style: style,
  }).addTo(map);

  m1 = L.marker([12.490213662533307, 78.75]).addTo(map)
  m2 = L.marker([9.925565912405506, 78.0029296875]).addTo(map)
  m3 = L.marker([11.329253026617318, 79.12353515625]).addTo(map)
  }
  else if (names == 'Telangana') {
    geojson = L.geoJson(telangana, {
    style: style,
  }).addTo(map);

  m1 = L.marker([18.8335153964335, 78.75]).addTo(map)
  m2 = L.marker([16.951724234434437, 78.134765625]).addTo(map)
  m3 = L.marker([17.434510551522894, 80.17822265625]).addTo(map)
  }
  else if (names == 'Tripura') {
    geojson = L.geoJson(tripura, {
    style: style,
  }).addTo(map);

  m1 = L.marker([23.29181053244191, 91.62597656249999]).addTo(map)
  m2 = L.marker([23.905926927314724, 91.571044921875]).addTo(map)
  m3 = L.marker([24.016361823963027, 92.186279296875]).addTo(map)
  }
  else if (names == 'Uttar Pradesh') {
    geojson = L.geoJson(uttar, {
    style: style,
  }).addTo(map);

  m1 = L.marker([27.839076094777816, 78.92578124999999]).addTo(map)
  m2 = L.marker([27.137368359795584, 81.6943359375]).addTo(map)
  m3 = L.marker([25.819671943904044, 82.3974609375]).addTo(map)
  }
  else if (names == 'Uttarakhand') {
    geojson = L.geoJson(uttarakhand, {
    style: style,
  }).addTo(map);

  m1 = L.marker([30.315987718557867, 80.068359375]).addTo(map)
  m2 = L.marker([29.69759650228319, 78.85986328125]).addTo(map)
  m3 = L.marker([30.619004797647808, 78.59619140625]).addTo(map)
  }
  else if (names == 'West Bengal') {
    geojson = L.geoJson(west, {
    style: style,
  }).addTo(map);

  m1 = L.marker([23.795397597978745, 88.04443359375]).addTo(map)
  m2 = L.marker([23.200960808078566, 86.912841796875]).addTo(map)
  m3 = L.marker([22.482106236077673, 87.615966796875]).addTo(map)
  } 

  m1.on('mouseover', function (event) {
      m1.openPopup();
    });

    m1.on('mouseout', function (event) {
      m1.closePopup();
    });

    m2.on('mouseover', function (event) {
      m2.openPopup();
    });

    m2.on('mouseout', function (event) {
      m2.closePopup();
    });

    m3.on('mouseover', function (event) {
      m3.openPopup();
    });

    m3.on('mouseout', function (event) {
      m3.closePopup();
    });

</script>

{% endblock %}