.bodie{
  background-color: rgba(255, 246, 246, 0.116);
}

.paral h1 {
color: rgba(255, 255, 255, 0.726);
font-size: 60px;
font-family: impact;
text-align: center;
padding-top: 60px;
line-height: 100px;
}

.paral {
min-height: 350px;
background-attachment: fixed;
background-size: cover;
background-position: 50% 50%;
}

.paralsec {
background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20200325/pngtree-red-gradient-creative-virus-background-image_332715.jpg);
}

.bar_graph{
  text-align: center;
  color: rgb(66, 4, 165);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bar_theory{
  font-size: large;
  font-weight: 500;
  font-family: verdana;
  text-align: justify;
  padding-left: 1%;
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.line_graph{
  text-align: center;
  color: rgba(219, 41, 9, 0.829);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.table_graph{
  text-align: center;
  color: rgba(86, 11, 156, 0.829);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

th {
  background-color: #4CAF50;
  color: white;
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}

tr:not(.no-hover):hover {
    background-color: #c5a5d1;
    cursor: pointer;
}

tr.hide-table-padding td {
  padding: 0;
  background-color:white;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.text_image{
  text-align: center;
  color: rgba(163, 10, 10, 0.829);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

