.bodie{
  background-color: rgba(255, 246, 246, 0.116);
}

.jumbotron {
  font-family: Impact;
  text-align: center;
  font-size: 120px;
  color: green;
}

.navbar-text{
    color: brown;
    font-size: 20px;
}

.bar_graph{
  text-align: center;
  color: rgb(66, 4, 165);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bar_theory{
  font-size: large;
  font-weight: 500;
  font-family: verdana;
  text-align: justify;
  padding-left: 1%;
}

.line_graph{
  text-align: center;
  color: rgba(219, 41, 9, 0.829);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.table_graph{
  text-align: center;
  color: rgba(86, 11, 156, 0.829);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.text_image{
  text-align: center;
  color: rgba(163, 10, 10, 0.829);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
